@import 'base';

.star-container {
    .glyphicon {
        font-size: 25px;
        color: gray;
        padding: 4px;
        margin-right: -4px;
    }
    .selected {
        color: #5CB85C;
    }
}
.subtle {
    color: #7f7f7f;
}
.table-bordered .selected{
    color: #5CB85C;
}